.oauth2-authorize {
    background: none;
    padding-left: 0;
}

.icon {
    display: none;
}

.access, .oauth2-authorize, .footer, .footer-parent {
    float: none !important;
    position: static !important;
    width: unset !important;;
}

.content {
    height: auto;
}

.access::after, .access::before {
    display: none !important;
}

#eu-cookie-policy p {
    font-size: 9px;
}

#eu-cookie-policy .cookie-infobar::before {
    display: none;
}

#eu-cookie-policy .cookie-infobar {
    margin: 0;
    padding-left: 10px;
    padding-right: 90px;
}

.infobar-toaster-container {
    bottom: 0;
    left: 0;
    right: 0;
}

#header {
    display: none;
}
